.card-div{
  background-image: linear-gradient(to right,lightblue,rgb(241, 60, 60))
  
}

.img{
  box-shadow: 1rem 1rem 1rem grey;

}
.card-ex{
  background-image: linear-gradient(to right,lightblue,rgb(241, 60, 60));

  


}